.venv
.vscode
.history
.DS_Store
.Rhistory
/.Rprofile
/renv/*
.Rproj.user
*.Rproj
/data/rna_seq/fastq_files/*
/data/rna_seq/fastq_trimmed/*
/data/rna_seq_full/fastq_files/*
/data/rna_seq_full/fastq_trimmed/*
/reference_data/cdna/*
/reference_data/gtf/*
/reference_data/index/*
/reference_data/tx2gene/*
VennDiagram*.log
/data/rna_seq_whites/salmon_gene_quant_whites.RDS